.user{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    text-align: center;
    color: steelblue;
}
.onlineUsers{
    font-size: 2em;
}
.room{
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    text-align: center;
    color: steelblue;
}