<div class="container">

  <img class="epicLogo" src="../../assets/logos/3Depic2.png" alt="">


  <div class="onlineUsers">
    <app-activ-users></app-activ-users>
  </div>

  <div class="activGames">
  <p class="createroomtext"> create / join Room..</p>
    
    <!-- <app-activ-games></app-activ-games> -->
    <!-- <input class="input" type="text" [(ngModel)]="myText" />
    <button class="btnGo" (click)="createRoom()">Go</button> -->
    <!--  -->
    <div class="input-container">
      <input #txtSearch [(ngModel)]='roomName' name='roomName' type="text" id="txtSearch" placeholder="Room Name" spellcheck="false"
      />
      <button class="btnGo hover" type="button" id="btnSearch" (click)="sendData();" (click)='createRoom()' [routerLink]="['/play']">play</button>
    </div>
    <br>
    <p class="roomName">Room Name :</p>
    <span id="dis">{{roomName}}</span>
    <!--  -->
  </div>



  <div class="menu swing4">
    <span class="menuBtn"> </span>
    <!-- <div #pickColor class="pickColor" (click)='slidePickColor()'> color pick </div> -->
    <div #play1 class="play1 hover" [routerLink]="['/local']"> play offline </div>

    <div #home class="home hover" [routerLink]="['/home']"> Home </div>
  </div>

  <div #pickColorWindow class="colorPickWindow">
    <app-color-pick></app-color-pick>
  </div>

</div>