.play1{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    height: 50px;
    z-index: 2000;
    opacity: 0;

}
.home{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    height: 50px;
    z-index: 2000;
    opacity: 0;

}
.onlineUsers{
//   border: 2px solid green;
  position: absolute;
  top: 10%;
  min-width: 20%;
  min-height: 20%;
}
.activGames{
    border: 2px solid green;
    position: absolute;
    top: 10%;
    right: 10%;
    min-width: 20%;
    min-height: 20%;
}
@keyframes swing4 {
    0% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

.swing4 {
    animation: swing4 ease-in-out 3s infinite alternate;
    transform-origin: center -3px;
    // float:left;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.menu{
    // border: 2px solid green;
    position: absolute;
    top: 5%;
    right: 45%;
    min-width: 10%;
    min-height: 10%;
}
.menuBtn{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
}
.pickColor{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    height: 50px;
    z-index: 2000;
    opacity: 0;
  
}
.colorPickWindow{
    font-family: 'Indie Flower', cursive;
    opacity: 0;    
    // border: 2px solid green;
    position: absolute;
    // top: 50%;
    // right: 35%;
    min-width: 35%;
    min-height: 35%;
}