.play1{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    height: 50px;
    z-index: 1000;

}
.home{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    height: 50px;
    z-index: 1000;
    // opacity: 0;

}
.onlineUsers{
  border: 2px solid green;
  position: absolute;
  top: 10%;
  min-width: 20%;
  min-height: 20%;
}
.activGames{
    border: 2px solid green;
    position: absolute;
    top: 10%;
    right: 10%;
    min-width: 20%;
    min-height: 20%;
}
.menu{
    border: 2px solid green;
    position: absolute;
    top: 5%;
    right: 45%;
    min-width: 10%;
    min-height: 10%;
}
.pickColor{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    height: 50px;
    z-index: 1000;
    // opacity: 0;
  
}
.colorPickWindow{
    border: 2px solid green;
    position: absolute;
    top: 50%;
    right: 35%;
    min-width: 35%;
    min-height: 35%;
}