
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media screen and (min-width : 100px)and (max-width: 400px) {
    .container{
//   display: none;
       width: 100px !important;
    }

  }
  @media screen and (min-width : 401px)and (max-width: 650px) {
   
  
  
   
  }
  @media screen and (min-width : 651px)and (max-width: 850px) {
   
  
   
  }
  @media screen and (min-width : 851px)and (max-width: 1250px) {
   
  
  
   
  }
  @keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@keyframes swing1 {
    0% { transform: rotate(-4deg); }
    100% { transform: rotate(4deg); }
}
@keyframes swing2 {
    0% { transform: rotate(30deg); }
    100% { transform: rotate(-30deg); }
}
@keyframes swing3 {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -40px;
    float:left;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
@keyframes jump {
    0%   {transform: translate3d(0,0,0) ;}

    100% {transform: translate3d(0,20%,0) ;}
  }
  @keyframes jump1 {
    0%   {transform: translate3d(0,0,0) ;}

    100% {transform: translate3d(0,20%,0) ;}
  }
  @keyframes jump2 {
    0%   {transform: translate3d(0,0,0) ;}

    100% {transform: translate3d(0,20%,0) ;}
  }

*{
    position: absolute;
    opacity: 1;
}
.swing1 {
    animation: jump ease-in-out 0.3s infinite alternate;
    transform-origin: center 5px;
    float:left;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing2 {
    animation: swing ease-in-out 3s infinite alternate;
    transform-origin: center -10px;
    float:left;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing3 {
    animation: jump2 ease-in-out 0.4s infinite alternate;
    transform-origin: center 5px;
    float:left;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.container{
    
    position: absolute;
    box-sizing: border-box;

    margin: auto;   
    // border: 2px solid black; //######################################
    // width: 98%;
    max-width: 98%;
    // height: 700px;
}
.epic{
    position: absolute;
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 800px;
    opacity: 0;
    // scale: 0.5;
    z-index: 1000;
}
.textLeft{
    // border: 2px solid green;   // ###################################
    font-size: 5em;
    font-family: 'Anton', sans-serif;
    // width: 200px;
    // height: 200px; 
    opacity: 0;
}
.textRight{
    // border: 2px solid pink; // #######################################
    font-size: 5em;
    font-family: 'Anton', sans-serif;
    
    width: 300px;
    // height: 50px;
    opacity: 0;
}
.animationBox{
    // border: 2px solid red; //##########################################
    // width: 600px;
    // height: 600px;
    opacity: 0;
}
.play{
    z-index: 2000;
    // border: 2px solid steelblue;    //###################################
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    // width: 200px;
    // height: 50px;
    opacity: 0;
}


.loginF{
    // border: 2px solid rgb(158, 70, 180);
    color:#30477D ;    
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    // width: 200px;
    // height: 50px;
    opacity: 0;
}
.loginErr{
    color: rgb(179, 48, 48);
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    // width: 200px;
    // height: 50px;
    // opacity: 0;
    position: absolute;
    top: 350px;
    left: 800px;
}
.lobby{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    object-fit: contain;
    width: 300px;
    // height: 50px;
    z-index: 2000;
    // opacity: 0;
    position: absolute;
    top: 550px;
    left: 550px;
}
app-login{
    z-index: 100000;
}

.about{
z-index: 1000;
position: absolute;
left: 350px;
top: 100px;
}
.tech{
    z-index: 20000;
position: absolute;
left: 0%;
top: 5%;
}
.contributors{
    z-index: 20000;
position: absolute;
left: 350px;
top: 100px;
}
.userimgdisplay{
    position: absolute;
    top: 350px;
    left: 640px;
    // margin-bottom: 100px;
    // width: 250px;
    opacity: 0.8;
}
.usernamedisplay{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    position: absolute;
    top: 450px;
    left: 600px;
    margin-bottom: 100px;
    width: 250px;

}
.btn1{
    // border: 2px solid steelblue;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    width: 3em;
    // height: 50px;
    opacity: 0;
    z-index: 2000;
}
.btn2{
    // border: 2px solid steelblue;
    
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    width: 200px;
    height: 50px;
    opacity: 0;
    z-index: 2000;
    
}
.btn3{
    // border: 2px solid steelblue;
    z-index: 2000;
    
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    // width: 200px;
    width: 3em;
    
    // height: 50px;
    opacity: 0;
}
.btn4{
    // border: 2px solid steelblue;
    z-index: 2000;
    
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    width: 300px;
    height: 50px;
    opacity: 0;
}
.blood{
    opacity: 0.9;
// display: inline-block;
// padding-right: 300px;
z-index: 2;
margin-left: -150px;
margin-top:  -150px;

}
.k{
  z-index: 1000;
}
.k-container{
    // z-index: 1;
    box-sizing: border-box;
    // align-content: center;
    padding-left: 40%;
    padding-top: 40%;    
}
.piece1{
    // border: 2px solid steelblue;
    width: 200px;
    height: 50px;
    opacity: 0;
}
.piece2{
    // border: 2px solid steelblue;
    width: 200px;
    height: 50px;
    opacity: 0;
}
.piece3{
    // border: 2px solid steelblue;
    width: 200px;
    height: 50px;
    opacity: 0;
}
.gitHub{
    // border: 2px solid steelblue;
    // opacity: 0;
    
    width: 200px;
    height: 50px;
    opacity: 0; 
    z-index: 1000;
}
.bloodMark2{
opacity: 0.5;
}