<div #container class="container">
  <div #header class="header">
    <!-- <div  class="epic"> -->
    <img #epic class="epic" src="../../assets/logos/EPICTEXT.png" alt="">
    <!-- </div> -->
    <div #textLeft class="textLeft"> chess</div>
    <div #textRight class="textRight ">same old</div>
    <!-- WOKRING BUTTONS NO USE IN THIS PAGE  #>david<#. -->
    <div #btn1 class="btn1" [routerLink]="['/about']">About
      <img src="../../assets/logos/003-youtube.png" alt="">
    </div>
    <div #btn2 class="btn2" [routerLink]="['/contributors']">Contributors
    </div>
    <div #btn3 class="btn3" [routerLink]="['/tech']">Tech
      <img src="../../assets/logos/002-java.png" alt="">
    </div>
    <!-- <div #btn4 class="btn4" [routerLink]="['/subscribe']">Subscribe</div>  // NOT IN USE CAN CHANGE TO ANYTHING --> 

    <div #loginF class="loginF">
      <app-login (showErr)='loginTrue($event)'></app-login>

      <div #gitHub class="gitHub">
        <a href="https://github.com/SkyWallkeRed/chess-">
          <img src="../../assets/logos/001-github.png" alt="">

        </a>
      </div>
      <div #piece1 class="piece1 swing1">
        <img src="../../assets/pieces_B/Pawn-Yellow-icon-75.png" alt="">
      </div>
      <div #piece2 class="piece2 swing2">
        <img src="../../assets/pieces_Y/Knight-Yellow-icon.png" alt="">
      </div>
      <div #piece3 class="piece3 swing3">
        <img src="../../assets/pieces_W/Bishop-Yellow-icon_0_80.png" alt="">
      </div>
    </div>
    <!--  PLAY MOVED TO LOBBY , HERE YOU GET GO TO LOBBY . -->
    <!-- <div #play class="play swing" [routerLink]="['/play']">play
    </div> -->
    <div *ngIf='userLogedIn' #lobby class="lobby swing" [routerLink]="['/lobby']">START

    </div>
    <div>
      <span class=" usernamedisplay">{{userName}}</span>
      <img class="userimgdisplay" src="{{userImg}}" alt="">
    </div>
  </div>
  <div #animationBox class="animationBox">
    <div class="k-container drag">
      <div class="k " #k>
        <img class="glow" [ngClass]="{'glowAttack': isActive}" (click)="isActive = !isActive" src="../../assets/pieces_Y/King-Yellow-icon.png"
          alt="">
        <div class="wep" #wep>
          <img *ngIf='axe' src="http://icons.iconarchive.com/icons/chrisl21/minecraft/96/Diamond-Axe-icon.png" alt="">
        </div>
        <img *ngIf='bloodMark' class='blood' #blood src="https://images.vexels.com/media/users/3/143405/isolated/preview/ea7fefc0fd132bc41819426ad91bbcd3-grunge-blood-splatter-by-vexels.png"
          alt="">
        <img class="bloodMark2" *ngIf='bloodMark2' src="https://images.vexels.com/media/users/3/143405/isolated/preview/ea7fefc0fd132bc41819426ad91bbcd3-grunge-blood-splatter-by-vexels.png"
          alt="">
      </div>
    </div>
  </div>


</div>