
    img {
        border-radius: 8px;
        opacity: 0.7;
    }

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@keyframes swing1 {
    0% { transform: rotate(-4deg); }
    100% { transform: rotate(4deg); }
}
@keyframes swing2 {
    0% { transform: rotate(30deg); }
    100% { transform: rotate(-30deg); }
}
@keyframes swing3 {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}
.swing2 {
    position: absolute;
    left: 100px;
    animation: swing ease-in-out 0.5s infinite alternate;
    transform-origin: center -60px;
    float:left;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
