@media screen and (min-width : 100px)and (max-width: 400px) {
    .qr{
        display: none;
    }
    .logo{
        width: 50% !important;
        left: 10%;
      left: 28% !important;
        
    }
    .container{
        // width: 100%;
        // margin-right: 20% !important;
    }
    .info{
        font-size: 1em !important;
        left: 30% !important;
    
       }
  .enter{
    font-size: 2em !important;
      left: 35% !important;
  }
  .mute{
    left: 10% !important;
      
  }
  }
  @media screen and (min-width : 401px)and (max-width: 650px) {
   
  
  
   
  }
  @media screen and (min-width : 651px)and (max-width: 850px) {
   
  
   
  }
  @media screen and (min-width : 851px)and (max-width: 1250px) {
   
  
  
   
  }
.container{
    width: 100%;
}
.logo{
    position: absolute;
    left: 40%;
    top:25%; 
    // box-sizing: border-box;
    // display: inline-block;
    width: 20%;
    height: 20%;    
}
.qr{
    // background-color: red;
}
.loader{
    // border: 2px solid blue;
    position: absolute;
    left: 36%;
    top: 45%;
    width: 25%;
}
.info{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    position: absolute;
    left: 40%;
    top:48%; 
}
.enter{
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    position: absolute;
    left: 45%;
    top:55%; 
}
.mute{
    position: absolute;
    left: 48%;
    top:65%; 
    opacity: 0.3;
}
.vol{
    position: absolute;
    left: 48%;
    top:65%; 
    opacity: 0.3;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
.hover:hover{
    animation: swing ease-in-out 3s infinite alternate;
    transform-origin: center -10px;
    float:left;
    cursor: pointer;
}


