<div class="container">
  <!-- <h2>pick your color</h2> -->
  <!-- <div #black class="black piece">
    <img src="../../assets/pieces_B/Pawn-Yellow-icon-75.png" alt="">
  </div> -->
  <div #yellow class="yellow piece swing1">
    <img src="../../assets/pieces_Y/Knight-Yellow-icon.png" alt="">
  </div>
  <div #white class="white piece swing2">
    <img src="../../assets/pieces_W/Bishop-Yellow-icon_0_80.png" alt="">
  </div>
  <div #pink class="pink piece swing3">
      <img src="../../assets/Piece_Pink/King-PINK-icon_0_80 copy.png" alt="">
    </div>
    <div #blue class="blue piece swing1">
        <img src="../../assets/Piece_Blue/Queen-BLUE-icon_0_80 copy.png" alt="">
      </div>
</div>