<div class="container" #container>
  <div id="leaves">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="gameId"> Room : {{gameId || 'offline'}}</div>
  <div *ngIf="gameOver">
    <img class="gameOver" src="../../assets/logos/checkmate_orig.png" alt="">
    <span (click)="startGame()" class="playArgine hover">play again?</span>
  </div>
  <br>
  <div class="btns">
    <div #home class="home hover" [routerLink]="['/home']">Home</div>
    <div #lobby class="lobby hover" [routerLink]="['/lobby']">Lobby</div>
  </div>

  <app-row [optionsArray]='optionsArray' class="row" *ngFor='let row of boardArray; let idx = index' [myY]="idx"></app-row>

  <div class="deadPieses">
    <img src="http://icons.iconarchive.com/icons/aha-soft/desktop-halloween/128/Tomb-icon.png" alt="">
    <img *ngFor='let dead of deadArray' class="deadPiece" src="{{dead.imgUrl}}" alt="">
  </div>

</div>