<div class="piece-container drag">
  <div class="piece " #piece (click)='attack()'>

    <img class="piece" [ngClass]="{'glowAttack': isActive}" (click)='jump()' src="{{myUrl}}" alt="">
  
    <div class="wep" #wep>
      <img *ngIf='axe' src="http://icons.iconarchive.com/icons/chrisl21/minecraft/96/Diamond-Axe-icon.png" alt="">
      <img *ngIf='sword' src="http://icons.iconarchive.com/icons/chrisl21/minecraft/96/Diamond-Sword-icon.png" alt="">
      <img *ngIf='dragon' src="http://icons.iconarchive.com/icons/martin-berube/character/96/Dragon-icon.png" alt="">
    </div>
    <img *ngIf='bloodMark' class='blood' #blood src="https://images.vexels.com/media/users/3/143405/isolated/preview/ea7fefc0fd132bc41819426ad91bbcd3-grunge-blood-splatter-by-vexels.png"
      alt="">


  </div>
</div>


<!-- <button class='btn' (click)='kill()'>k.kill</button> -->