@media screen and (min-width : 100px)and (max-width: 400px) {
  img{
    width: 60px;
  }
 .piece{
  bottom: -20px !important;
 }

}
@media screen and (min-width : 401px)and (max-width: 650px) {
 


 
}
@media screen and (min-width : 651px)and (max-width: 850px) {
 

 
}
@media screen and (min-width : 851px)and (max-width: 1250px) {
 


 
}
*{
    position: absolute;
    
}

.bloodMark{
    opacity: 0.8;
// display: inline-block;
// padding-right: 300px;
// z-index:1;
margin-left: -200px;
margin-top:  -290px;

}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 
    0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177,
     0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 
    0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 
    0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
.wep{
  // text-decoration: none;
  //   -webkit-transition: all 0.5s;
  //   -moz-transition: all 0.5s;
  //   transition: all 0.5s;
  //   -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  //   -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  //   animation: neon1 1.5s ease-in-out infinite alternate;
}
.piece{
  z-index: 100;
//   width: 20%;
bottom: -50px;
}
.piece-container{
  width: 100%;
    // z-index: 1;
    box-sizing: border-box;
    // align-content: center;
    margin-left: -10px;
}

// button {
//     margin: 12px;
//   }
  .default {
    background-color: #000;
    color: #ffe100;
  }
  .primary {
    background-color:
      #ffe100;
    color: #000;
  }
  
  @keyframes glowing {
    0% { box-shadow: 0 0 -20px #2CD3D4;}
    20% {background-color: #2CD3D4}
    40% { box-shadow: 0 0 30px #2CD3D4; }
    // 50% {background-color: #2CD3D4;}
    60% { box-shadow: 0 0 30px #2CD3D4; }
    100% { box-shadow: 0 0 -20px #2CD3D4; }

  }
  @keyframes glowingAttack {
    0% { box-shadow: 0 0 -30px #C60E33;}
    // 20% {background-color: #C60E33}
    40% { box-shadow: 0 0 40px #C60E33; }
    50% {background-color: #C60E33;}
    60% { box-shadow: 0 0 40px #C60E33; }
    100% { box-shadow: 0 0 -30px #C60E33; }

  }

  .glow:hover{
    animation: glowing 2000ms infinite;
    
  }
  
//   .glowAttack {
//     animation: glowingAttack 2000ms infinite;
//     // animation: fillGlow 2000ms infinite;
    
    
   
//   }
  

  .btn{
      z-index: 1000;
  }