<!-- <div #cell class="cell" (click)="getOptions()" [style.background-color]="cellColorF()">
    <div #piece class="piece">
        <img *ngIf="myPiece" src="{{myPiece.imgUrl}}" alt="">
        <img *ngIf='wep' class="wep" src="http://icons.iconarchive.com/icons/chrisl21/minecraft/96/Diamond-Axe-icon.png" alt="">

    </div>
</div>
 -->


<div #cell class="cell" (click)="getOptions()" [style.background-color]="cellColorF()" >
    <app-piece [myPiece]='myPiece' [killActive]='killActive' (bloodMarkCell)='thisCellBloodMark($event)'></app-piece>
    <img *ngIf='bloodMarkCell' class='blood' #blood src="https://images.vexels.com/media/users/3/143405/isolated/preview/ea7fefc0fd132bc41819426ad91bbcd3-grunge-blood-splatter-by-vexels.png"
        alt="">
</div>