@media screen and (min-width : 100px)and (max-width: 400px) {
  
   .cell{
    width: 40px !important;
    height: 40px !important;

   }
}
@media screen and (min-width : 401px)and (max-width: 650px) {
  
  .cell{
   width: 70px !important;
   height: 70px !important;

  }
}
@media screen and (min-width : 651px)and (max-width: 850px) {
  
  .cell{
   width: 90px !important;
   height: 90px !important;

  }
}
@media screen and (min-width : 851px)and (max-width: 1250px) {
  
  .cell{
   width: 100px !important;
   height: 100px !important;

  }
}
.wep{
  position: absolute;
  // top:40px;
  // left: 40px;
  height: 7%;
  width: 7%;

}
.piece{
  box-sizing: border-box;
}
  
.cell{
    width: 100px;
    height: 100px;
    // border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
    // color :red;
    text-align: center;
    // padding-top: 40px;
    // object-fit: scale-down
    // position: absolute;
}
img{
    max-width:100%;
    max-height:100%;
    // position: relative;
    // position: absolute;

}
// .glow{
//     width: 100px;
//     height: 100px;
//     border-radius: 50px;
// }
.white{
background: white;
    
}
.black{
    background: #777777;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -20px #2CD3D4;}
    20% {background-color: #2CD3D4}
    40% { box-shadow: 0 0 30px #2CD3D4; }
    // 50% {background-color: #2CD3D4;}
    60% { box-shadow: 0 0 30px #2CD3D4; }
    100% { box-shadow: 0 0 -20px #2CD3D4; }

  }
  @keyframes glowingAttack {
    0% { box-shadow: 0 0 -30px #C60E33;}
    // 20% {background-color: #C60E33}
    40% { box-shadow: 0 0 40px #C60E33; }
    50% {background-color: #C60E33;}
    60% { box-shadow: 0 0 40px #C60E33; }
    100% { box-shadow: 0 0 -30px #C60E33; }

  }

  .glow{
    animation: glowing 2000ms infinite;
  }
  
  .glowAttack {
    animation: glowingAttack 2000ms infinite;
    // animation: fillGlow 2000ms infinite;
    
    
   
  }


